# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [5]:
users=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep='|')
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Step 4. Discover what is the mean age per occupation

In [19]:
mapc=users.groupby('occupation')['age']
mapc2=mapc.mean()
print(mapc2.reset_index())

       occupation        age
0   administrator  38.746835
1          artist  31.392857
2          doctor  43.571429
3        educator  42.010526
4        engineer  36.388060
5   entertainment  29.222222
6       executive  38.718750
7      healthcare  41.562500
8       homemaker  32.571429
9          lawyer  36.750000
10      librarian  40.000000
11      marketing  37.615385
12           none  26.555556
13          other  34.523810
14     programmer  33.121212
15        retired  63.071429
16       salesman  35.666667
17      scientist  35.548387
18        student  22.081633
19     technician  33.148148
20         writer  36.311111

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [33]:

occupation_gender_counts = users.groupby(['occupation', 'gender']).size().unstack()

occupation_gender_counts['Male Ratio'] = occupation_gender_counts['M'] / (occupation_gender_counts['M'] + occupation_gender_counts['F'])
sorted_occupation_gender = occupation_gender_counts.sort_values(by='Male Ratio')
occupation_gender_counts['femaleRatio'] = occupation_gender_counts['M'] / (occupation_gender_counts['M'] + occupation_gender_counts['F'])

# Displaying the sorted male ratio per occupation
print(sorted_occupation_gender.reset_index())

gender     occupation     F      M  Male Ratio
0           homemaker   6.0    1.0    0.142857
1          healthcare  11.0    5.0    0.312500
2           librarian  29.0   22.0    0.431373
3              artist  13.0   15.0    0.535714
4       administrator  36.0   43.0    0.544304
5                none   4.0    5.0    0.555556
6              writer  19.0   26.0    0.577778
7           marketing  10.0   16.0    0.615385
8               other  36.0   69.0    0.657143
9             student  60.0  136.0    0.693878
10           educator  26.0   69.0    0.726316
11           salesman   3.0    9.0    0.750000
12             lawyer   2.0   10.0    0.833333
13      entertainment   2.0   16.0    0.888889
14          scientist   3.0   28.0    0.903226
15          executive   3.0   29.0    0.906250
16         programmer   6.0   60.0    0.909091
17            retired   1.0   13.0    0.928571
18         technician   1.0   26.0    0.962963
19           engineer   2.0   65.0    0.970149
20             doctor   NaN    7.0         NaN

### Step 6. For each occupation, calculate the minimum and maximum ages

In [21]:

mapc.max()

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

In [22]:
mapc.min()

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

### Step 7. For each combination of occupation and gender, calculate the mean age

In [34]:
occupation_gender_counts.mean()

gender
F              13.650000
M              31.904762
Male Ratio      0.692264
femaleRatio     0.692264
dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [35]:
occupation_gender_counts

gender            F      M  Male Ratio  femaleRatio
occupation
administrator  36.0   43.0    0.544304     0.544304
artist         13.0   15.0    0.535714     0.535714
doctor          NaN    7.0         NaN          NaN
educator       26.0   69.0    0.726316     0.726316
engineer        2.0   65.0    0.970149     0.970149
entertainment   2.0   16.0    0.888889     0.888889
executive       3.0   29.0    0.906250     0.906250
healthcare     11.0    5.0    0.312500     0.312500
homemaker       6.0    1.0    0.142857     0.142857
lawyer          2.0   10.0    0.833333     0.833333
librarian      29.0   22.0    0.431373     0.431373
marketing      10.0   16.0    0.615385     0.615385
none            4.0    5.0    0.555556     0.555556
other          36.0   69.0    0.657143     0.657143
programmer      6.0   60.0    0.909091     0.909091
retired         1.0   13.0    0.928571     0.928571
salesman        3.0    9.0    0.750000     0.750000
scientist       3.0   28.0    0.903226     0.903226
student        60.0  136.0    0.693878     0.693878
technician      1.0   26.0    0.962963     0.962963
writer         19.0   26.0    0.577778     0.577778